/* * {
  border: 1px solid red;
} */

.polaroidImg {
  width: 130%;
  margin: 0% -90%;
}

.imgCrop {
  height: 270px;
  overflow: hidden;
}

.polaroids {
  display: inline-block;
  width: 25%;
  padding: 1%;
  padding-bottom: 30px;
  margin: 2%;
  font-family: "Bradley Hand";
  font-size: 130%;
  border: 2px solid lightgrey;
}

.input {
  padding: 10px 20px;
}

.button {
  padding: 10px;
  border: 2px solid grey;
  cursor: pointer;
}

@media (max-width: 850px) {
  .polaroids {
    width: 40%;
  }

  .imgCrop {
    height: 230px;
  }
}

@media (max-width: 400px) {
  .polaroids {
    width: 70%;
  }

  .imgCrop {
    height: 250px;
  }
}
